/* 웹 폰트 선언 */

/* 기본 선언 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  /* font-family: ;  웹폰트 */
}

input,
textarea,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

/* section */
.titleBox {
  width: 250px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin: 70px auto;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

.detailBtn {
  text-align: center;
}
