/* 웹폰트 선언 */

/* 기본 선언 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  /* font-family: ;  웹폰트 */
}

input,
textarea,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

/* section */

body {
  background-color: #2d2d2d;
}

.sellerTitle > h2 {
  text-align: center;
  margin: 70px auto;
  height: 100px;
  line-height: 100px;
  color: azure;
}

.seller-form {
  width: 485px;
  margin: 0 auto;
  float: none;
}

.form-group > label {
  color: azure;
}

.plus-btn > button {
  background-color: white;
}

.form-control {
  position: relative;
  display: table;
}

.input-group-btn {
  position: relative;
}
