<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/seller_apply.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body>
  
  
  <section>

    <div class="container">

      <div class="row">

        <div class="seller-form">

          <div class="sellerTitle">
            <h2>판매자 신청하기</h2>
          </div>
          <form action="#" method="POST">

            <div class="form-group">
              <label for="nicName">닉네임</label>
              <input type="text" class="form-control" name="userNick" id="userNick">
            </div>
            <div class="form-group">
              <label for="major">전공분야</label>
              <input type="text" class="form-control" name="userMajor" id="userMajor">
            </div>
            <div class="form-group">
              <label for="career">경력사항</label>
              <div class="input-group">
                <input type="text" class="form-control" name="userCareer" id="userCareer">
                <div class="input-group-btn" >
                  <button type="button" class="btn btn-info"><i class="far fa-plus"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="awards">수상경력</label>
              <input type="text" class="form-control" name="userAwards" id="userAwards">
            </div>

          </form>
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-info btn-block" id="loginBtn">로그인</button>
          </div>
          
            
          
        </div>

      </div>

    </div>

  </section>

</body>
</html>